# Assignment-2 :-python data types assignment

# # Topic 1 :string based assignment problem

In [10]:
#Ques 1
a="I am groot!"
print(a[::-1])

!toorg ma I

In [14]:
#Ques 2
xz=input("enter the string ")
y=xz[::-1]
print("The string is palindrome is",xz==y)

enter the string  oppo

The string is palindrome is True

In [15]:
#Ques 3
c="string based assignment"
print(c.upper())

STRING BASED ASSIGNMENT

In [16]:
#Ques 4
d="I Am 20 Years Old"
print(d.lower())

i am 20 years old

In [17]:
#Ques 5
e="This is Important Session"
f=e.lower()
t=f.count("a")
e=f.count("e")
j=f.count("i")
a=f.count("o")
s=f.count("u")
vowel=t+e+j+a+s
print("the total number of vowels in a string is ",vowel)

the total number of vowels in a string is  8

In [18]:
#Ques 6
e="This is Important Session"
f=e.lower()
g=f.replace(" ","")
h=len(g)
t=f.count("a")
e=f.count("e")
j=f.count("i")
a=f.count("o")
s=f.count("u")
consonant=h-(t+e+j+a+s)
print("the total number of consonants in a string is ",consonant)

the total number of consonants in a string is  14

In [19]:
#Ques 7
strr=input("enter the string ")
print(strr.replace(" ",""))

enter the string  how are you ?

howareyou?

In [20]:
#Ques 8

x=input("enter the sentence ")
count=0
for i in x:
    count=count+1
print(count)

enter the sentence  important

9

In [21]:
##Ques 9
ab=input("enter the sentence ")
specificword="hii"
if specificword  in ab:
    print("contains specific word")
else:
    print("does not contains specific word")

enter the sentence  hii guys!

contains specific word

In [22]:
 #Ques 10
cd="i am ok"
print(cd.replace("ok","not ok"))

i am not ok

In [25]:
# Ques 11
de="i am ok and also not ok but it's fine"
dee=de.lower()
print(dee.count("ok"))

2

In [26]:
 #Ques 12
ef="i am ok and also not ok but it's fine"
eff=ef.lower()
print(eff.find("ok"))

5

In [27]:
#Ques 13
gh="i am ok and also not ok but it's fine"
ghh=gh.lower()
print(ghh.rfind("ok"))

21

In [28]:
#Ques 14
ij="I am from Maharashtra"
print(ij.split())

['I', 'am', 'from', 'Maharashtra']

In [29]:
#Ques 15
jk=["where","do","you","live","?"]
jkk=""
print(jkk.join(jk))

wheredoyoulive?

In [30]:
#Ques 16
kl="I am from Maharashtra"
print(kl.replace(" ","_"))

I_am_from_Maharashtra

In [31]:
#Ques 17
ll="I am from Maharashtra ok"
llm=ll.lower()
lol=llm.startswith("i")
print ("the sentence start with i or I is",lol)

the sentence start with i or I is True

In [32]:
#Ques 18
lk="I am from Maharashtra ok"
llk=lk.lower()
kkk=llk.endswith("ok")
print ("the sentence start with ok or OK is",kkk)

the sentence start with ok or OK is True

In [33]:
#Ques 19
jp="I am from Maharashtra ok"
print(jp.title())

I Am From Maharashtra Ok

In [34]:
#Ques 20
jl="I am from Maharashtra ok"
joo=jl.split()
print(max(joo,key=len))

Maharashtra

In [35]:
#Ques 21
pp="I am from Maharashtra ok"
ppp=jl.split()
print(min(ppp,key=len))

I

In [36]:
#Ques 22
rv="I am from Maharashtra ok"
rrv=rv.split()
print(rrv[-1::-1])

['ok', 'Maharashtra', 'from', 'am', 'I']

In [37]:
#Ques 23
ds="this is data science course"
print(ds.isalnum())

False

In [38]:
# Ques 24
import re
fg="this is data 10 science20 2 25 cours86e"
print(re.findall(r'[0-9]+',fg))

['10', '20', '2', '25', '86']

In [40]:
#Ques 25
import re
fl="this is data 10  science20 2 25 course86"
print(re.findall(r'[A-Za-z]+',fl))

['this', 'is', 'data', 'science', 'course']

In [43]:
 #Ques 26
import re
fg="THIS is DATA Science CoURse"
cou=(re.findall(r'[A-Z]',fg))
print(len(cou))

12

In [45]:
 #Ques 27
import re
fg="THIS is DATA Science CoURse"
counting=(re.findall(r'[a-z]',fg))
print(len(counting))

11

In [47]:
 #Ques 28
wor="This Is Data Science Course "
print(wor.swapcase())

tHIS iS dATA sCIENCE cOURSE

In [50]:
 #Ques 29
wordi="This Is Data Science course "
specific_wordi="Science"
print(wordi.replace("Science ",""))

This Is Data course

In [52]:
 #Ques 30
import re  
email="saket856@email.com"
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
if re.match(pattern, email):
    print( "valid -mail id")
else:
    print("Invalid email id")

valid -mail id

In [54]:
##Ques 31
emailad="elonmusk856@email.com"
username=emailad.split("@")[0]
print(username)

elonmusk856

In [56]:
##Ques 32
emailad="elonmusk856@email.com"
domainname=emailad.split("@")[1]
print(domainname)

email.com

In [58]:
# ##Ques 33
import re
sen="what  can  i do   for   you       ?"
print(re.sub(' +',' ',sen))

what can i do for you ?

In [60]:
#Ques 34
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

In [63]:
#Ques 35
protocol1="http://google.com"
print(protocol1.split(":")[0])

http

In [65]:
#Ques 36
words="how are you"
fre={}
for keys in words:
    fre[keys]=fre.get(keys,0)+1
print(str(fre))

{'h': 1, 'o': 2, 'w': 1, ' ': 2, 'a': 1, 'r': 1, 'e': 1, 'y': 1, 'u': 1}

In [67]:
#Ques 37
import string
input_string="hello!, Ho'w ar'e y'o'u"
translator = str.maketrans("", "", string.punctuation)
clean_string = input_string.translate(translator)
print(clean_string)

hello How are you

In [69]:
#Ques 38
digistring="1234568232"
print(digistring.isdigit())

True

In [72]:
#Ques 39
alphastring="helloguys"
print(alphastring.isalpha())

True

In [74]:
#Ques 40
import re
convstring="be heroes of your own stories"
print(re.findall(r'[A-Za-z]',convstring))

['b', 'e', 'h', 'e', 'r', 'o', 'e', 's', 'o', 'f', 'y', 'o', 'u', 'r', 'o', 'w', 'n', 's', 't', 'o', 'r', 'i', 'e', 's']

In [76]:
#Ques 41
str1="Night"
str2="Thing"
str01=str1.replace(" ","").lower()
str02=str2.replace(" ","").lower()
print(sorted(str01)==sorted(str01))

True

In [78]:
#Ques 42
def caesar_cipher_encrypt(plain_text, shift):
    encrypted_text = ""
    
    for char in plain_text:
        if char.isalpha():
            is_upper = char.isupper()
            shifted_char = chr((ord(char) - ord('A' if is_upper else 'a') + shift) % 26 + ord('A' if is_upper else 'a'))      
            encrypted_text += shifted_char
        else:
            encrypted_text += char
    
    return encrypted_text

plain_text = "Hello, World!"
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(plain_text, shift_amount)

print(encrypted_text)

Khoor, Zruog!

In [80]:
#Ques 43
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""
    
    for char in encrypted_text:
        if char.isalpha():
            is_upper = char.isupper()
            shifted_char = chr((ord(char) - ord('A' if is_upper else 'a') - shift) % 26 + ord('A' if is_upper else 'a'))
            decrypted_text += shifted_char
        else:
            decrypted_text += char
    
    return decrypted_text


encrypted_text = "Khoor, Zruog!"
shift_amount = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_amount)

print(decrypted_text)

Hello, World!

In [82]:
#Ques 44

from collections import Counter

def most_frequent_word(input_string):
    words = input_string.split()
    word_counts = Counter(words)
    most_common_word = word_counts.most_common(1)[0][0]
    return most_common_word


input_string = "This is a sample string. The sample string contains repeated words."
result = most_frequent_word(input_string)
print("Most frequent word:", result)

Most frequent word: sample

In [84]:
#Ques 45
def unique_words(input_string):
    words = input_string.split()
    unique_words = set(words)
    return unique_words


input_string = "This is a sample string. The sample string contains repeated words."
result = unique_words(input_string)
print("Unique words:", result)

Unique words: {'This', 'string', 'string.', 'repeated', 'sample', 'contains', 'a', 'words.', 'is', 'The'}

In [86]:
#Ques 46
ef="full stack data science pro"
fi=ef.lower()
p=fi.count("a")
a=fi.count("e")
r=fi.count("i")
a=fi.count("o")
s=fi.count("u")
syllables=p+a+r+a+s
print("The total number of syllables in a string is ",syllables)

The total number of syllables in a string is  7

In [88]:
#Ques 47
import re
senten="i am become a death! and the destroyer of worlds"
patt=re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
matc = patt.search(senten)
print(bool(matc))

True

In [90]:
#Ques 48
senti="i am become a death! and the  destroyer of worlds"
newsenti=senti.split()
nthvalue=5
newsenti.pop(nthvalue-1)
finalsenti=" ".join(newsenti)
print(finalsenti)

i am become a and the destroyer of worlds

In [92]:
#Ques 49
sento="i am become a death! and the  destroyer of worlds"
newsento=sento.split()
nthposition=5
wordo="coder"
new_new_wordo=newsento.insert(nthposition-1,wordo)
finalwordo=" ".join(newsento)
print(finalwordo)

i am become a coder death! and the destroyer of worlds

In [94]:
#Ques 50
import csv
from io import StringIO

csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"

# Convert CSV string to list of lists
csv_file = StringIO(csv_string)
csv_reader = csv.reader(csv_file)
list_of_lists = [row for row in csv_reader]

print(list_of_lists)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

# # Topic 2 : list based assignment problem

In [101]:
#Ques 1
integers=[]
for i in range(11):
    integers.append(i)
print(integers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
#Ques 2
az=["suraj",10,20,215,56,56.5,True,5+6j]
count=0
for i in az:
    count=count+1
print(count)

8

In [105]:
#Ques 3
sx=["suraj",10,20,215,56,56.5,True,5+6j]
append_word="hello"
sx.append(append_word)
print(sx)

['suraj', 10, 20, 215, 56, 56.5, True, (5+6j), 'hello']

In [107]:
#Ques 4
dc=["suraj",10,20,215,56,56.5,True,5+6j]
insert_index=5
insert_word="India"
dc.insert(insert_index,insert_word)
print(dc)

['suraj', 10, 20, 215, 56, 'India', 56.5, True, (5+6j)]

In [109]:
##Ques 5
fv = [1,2,3,4,5,5.5,6,7,8,9]
removing_element=5.5
fv.remove(removing_element)
print(fv)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
##Ques 6
gb= [1,2,3,4,5,6,7,8,9,10]
removing_index=5
gb.pop(5)
print(gb)

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [111]:
##Ques 7
hn= [1,2,3,4,5,6,7,8,9,10]
print("the number 3 is available in list is ",3 in hn)
print("the number 15 is available in list is ",15 in hn)

the number 3 is available in list is  True
the number 15 is available in list is  False

In [113]:
#Ques 8
jm= [1,2,3,4,5,6,8,5,7,4,8,5,5,9,4,5,6,8,8,10]
finding_index=5
index_num=jm.index(finding_index)
print(f'The index of {finding_index} is {index_num} ')

The index of 5 is 4

In [115]:
# Ques 9
jm= [1,2,3,4,5,6,8,5,7,4,8,5,5,9,4,5,6,8,8,10]
counting_num=5
counted_num=jm.count(counting_num)
print(f'The element {counting_num} is occurs in a list is {counted_num} times')

The element 5 is occurs in a list is 5 times

In [117]:
#Ques 10
za=["tejas",10,20,215,56,56.5,True,5+6j]
print(za[::-1])

[(5+6j), True, 56.5, 56, 215, 20, 10, 'tejas']

In [119]:
#Ques 11
xs= [10,15,16,9,4,3,6,5,65,86.40,56.60]
xs.sort()
print(xs)

[3, 4, 5, 6, 9, 10, 15, 16, 56.6, 65, 86.4]

In [121]:
#Ques 12
xs= [1,36.56,2,3,4,25,5,6,15.20,7,8,9,10]
xs.sort(reverse=True)
print(xs)

[36.56, 25, 15.2, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [123]:
# Ques 13
even_num=[]
for num in range(1,21):
    if num%2==0:
        even_num.append(num)
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [125]:
#Ques 14
odd_num=[]
for j in range(1,21,2):
    odd_num.append(j)
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [127]:
#Ques 15
cd= [1,36.56,2,3,4,25,5,6,15.20,7,8,9,10]
print(sum(cd))

131.76

In [129]:
#Ques 16
vf= [1,36.56,2,3,4,25,5,6,15.20,7,8,9,10]
print(max(vf))

36.56

In [131]:
#Ques 17
bg= [1,36.56,2,3,4,25,5,6,15.20,7,8,9,10]
print(min(bg))

1

In [133]:
#Ques 18
squares_list=[]
for numb in range(1,11):
    numb=numb**2
    squares_list.append(numb)
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [135]:
    

#Ques 19
import random
random_list=[]
for rand_num in range(10):
    rnum=random.randint(1,100)
    random_list.append(rnum)
print(random_list)

[73, 45, 35, 91, 53, 43, 35, 65, 3, 9]

In [137]:
#Ques 20
aws=[1,2,3,4,5,6,8,5,7,4,8,5,5,9,4,5,6,8,8,10]
print(list(set(aws)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [139]:
#Ques 21
li1=[1,2,35,3,36,5,6,70,4,5]
li2=[25,65,85,1,3,2,35,5,4]
common_elements=set(li1)&set(li2)
print(list(common_elements))

[1, 2, 3, 35, 5, 4]

In [141]:
#Ques 22
l1=[1,2,35,36,5,6,70,4,5]
l2=[25,65,85,1,3,2,35,5,4]
print(list(set(l1).difference(l2)))

[36, 6, 70]

In [143]:
#Ques 23
l1=[1,2,35,36,5,6,70,4,5]
l2=[25,65,85,1,3,2,35,5,4]
print("merge list =",l1+l2)

merge list = [1, 2, 35, 36, 5, 6, 70, 4, 5, 25, 65, 85, 1, 3, 2, 35, 5, 4]

In [145]:
#Ques 24
gyh=[1,2,3,4,5,6,7,8,9,10]
multiplied_list=[]
for muti in gyh:
    each_multiply=muti*2
    multiplied_list.append(each_multiply)
print(multiplied_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [147]:
#Ques 25
evenoddlist=[1,2,3,4,5,6,7,8,9,10]
for eveni in evenoddlist:
    if eveni%2==0:
        print(eveni)

2
4
6
8
10

In [149]:
#Ques 26
strinteger=["1", "2", "85", "450", "650"]
integer_list=[]
for integr in strinteger:
    convert_int=int(integr)
    integer_list.append(convert_int)
print(integer_list)

[1, 2, 85, 450, 650]

In [151]:
#Ques 27
strinr=[1,2,3,4,5]
string_list=[]
for stri in strinr:
    convert_str=str(stri)
    string_list.append(convert_str)
print(string_list)

['1', '2', '3', '4', '5']

In [153]:
#Ques 28
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattern_list=sum(nested_list,[])
print(flattern_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [154]:
#Ques 29
fib_list=[]
def fib(n):
  if n == 0 or n == 1:
    return n
  else:
    return fib(n-1) + fib(n-2)
for op in range(0, 10):
  fib_list.append(fib(op))
print(fib_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [253]:
#Ques 30
sqa=[1,2,3,4,5,6,7,8,9]
checkin=sorted(sqa)
if checkin==sqa:
    print("list is sorted")
else:
    print("list is unsorted")

list is sorted

In [254]:
#Ques 31
rot_list=[1,2,3,4,5,6,7,8,9]
n=2
left_rotated_list = rot_list[n:] + rot_list[:n]
print(left_rotated_list)

[3, 4, 5, 6, 7, 8, 9, 1, 2]

In [215]:
# Ques 32
rotating_list=[1,2,3,4,5,6,7,8,9]
n_num=2
right_rotated_list = rotating_list[-n_num:] + rotating_list[:-n_num]
print(right_rotated_list)

[8, 9, 1, 2, 3, 4, 5, 6, 7]

In [217]:
#Ques 33
prime_list=[]
def isPrime(n):
    if(n==1 or n==0):  
        return False
    for i in range(2,n):
        if(n%i==0):
            return False
    return True
n=50
for i in range(1,n+1):
    if(isPrime(i)):
        prime_list.append(i)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [218]:
#Ques 34
my_ist = [1,2,3,4,5,6,7,8]
chunk_size = 2
while my_ist: 
    chunk = my_ist[:chunk_size]
    my_ist = my_ist[chunk_size:] 
    print(chunk)

[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [221]:
#Ques 35
lis=[1,2,3,4,5]
removing_max=lis.remove(max(lis))
sec_max=max(lis)
print(sec_max)

4

In [223]:
#Ques 36
ko_list=[1,2,3,4,5]
squ_list=[]
for oo in ko_list:
    oo=oo**2
    squ_list.append(oo)
print(squ_list)

[1, 4, 9, 16, 25]

In [225]:
#Ques 37:
def convert(lt):
   res_dict = {}
   for i in range(0, len(lt), 2):
       res_dict[lt[i]] = lt[i + 1]
   return res_dict
lt = ['a', 1, 'b', 2, 'c', 3]
print(convert(lt))

{'a': 1, 'b': 2, 'c': 3}

In [227]:
#Ques 38:
import random
correct_list = [1,2,3,4,5,6,7,8]
random.shuffle(correct_list)
print(correct_list)

[1, 2, 6, 5, 7, 3, 4, 8]

In [229]:
#Ques 39:

def factorial(no):
    if no == 0 or no == 1:
        return 1
    else:
        return no * factorial(no - 1)
factorial_numbers = [factorial(p) for p in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [231]:
#Ques 40:
lits1=[1,2,35,3,36,5,6,70,4,5]
lits2=[90,569,9565,8998,4,56,5,9]
common_elements=set(lits1)&set(lits2)
if common_elements==set():
    print("list does have at least one common element")
else:
    print("list have at least one common element")

list have at least one common element

In [233]:
#Ques 41:
rem_list=[1,2,35,3,36,5,6,70,4,5]
rem_list.clear()
print("empty list",rem_list)

empty list []

In [235]:
#Ques 42:
mixed_list=[1,2,3,4,-5,6,-3565,-8,25]
for negi in range(len(mixed_list)):
    if mixed_list[negi]<0:
        mixed_list[negi]=0
print(mixed_list)

[1, 2, 3, 4, 0, 6, 0, 0, 25]

In [237]:
#Ques 43:
stringgg='what is your profession'
print("list of words in list", stringgg.split())

list of words in list ['what', 'is', 'your', 'profession']

In [239]:
#Ques 44:
listtt=['what', 'is', 'your', 'profession']
print("The string of word :-"," ".join(listtt))

The string of word :- what is your profession

In [241]:
#Ques 45:
power2_list=[]
for io in range(10):
    io=pow(2,io)
    power2_list.append(io)
print(power2_list)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [243]:
#Ques 46:
long_list = ['what', 'is', 'your', 'profession']
print(max(long_list,key=len))

profession

In [245]:
#Ques 47:
short_list = ['what', 'is', 'your', 'profession']
print(min(short_list,key=len))

is

In [247]:
#Ques 48:
triangular_numbers=[]
for n in range(1,10):
    i=(n * (n + 1) // 2)
    triangular_numbers.append(i)
print("triangular numbers =",triangular_numbers)

triangular numbers = [1, 3, 6, 10, 15, 21, 28, 36, 45]

In [249]:
#Ques 49:
def is_sublist(A, B):
    if not A:
        return True
    if not B:
        return False
    if A[0] == B[0]:
        return is_sublist(A[1:], B[1:])
    return is_sublist(A, B[1:])
A = [1, 2]
B = [1, 2, 3, 1, 1, 2, 2]
res = is_sublist(A, B)
print(res)

True

In [250]:
 
#Ques 50:
swap_list=[1,2,3,45,544,4846,544]
index_1=2
index_2=6
temporary=swap_list[index_1]
swap_list[index_1]=swap_list[index_2]
swap_list[index_2]=temporary
print(swap_list)

[1, 2, 544, 45, 544, 4846, 3]

# # Topic 3 : tuple based assignment problem

In [255]:
#Ques 1
tuple_1to5=tuple(range(1,6))
print(tuple_1to5)

(1, 2, 3, 4, 5)

In [257]:
#Ques 2
tuple2=(12,15,1,3,16,45)
accesing_tuple=tuple2[2]
print("the third element of tuple is",accesing_tuple)

the third element of tuple is 1

In [259]:
#Ques 3
tuple3=(12,15,1,3,16,45)
counting_tuple=0
for i in tuple3:
    counting_tuple=counting_tuple+1
print("the length of tuple is",counting_tuple)

the length of tuple is 6

In [261]:
#Ques 4
tuple4=(12,15,2,6,1,2,3,16,2,5565,2,45)
print(f"number 2 is appears in a tuple {tuple4.count(2)}  times")

number 2 is appears in a tuple 4  times

In [263]:
#Ques 5
tuple5=(12,15,3,2,6,1,2,3,16,2,5565,2,45)
print(f"the first occcurence of number 2 in tuple is at index {tuple5.index(2)} ")

the first occcurence of number 2 in tuple is at index 3

In [265]:
#Ques 6
tuple6=(12,15,3,2,6,1,2,3,16,2,5565,2,45)
print("The element 6 is exist in a tuple is",6 in tuple6)

The element 6 is exist in a tuple is True

In [267]:
#Ques 7
tuple7=(12,15,3,2,6,1,2,3,16,2,5565,2,45)
list__7=list(tuple7)
print("The conversion of tuple into list  is as follows",list__7)

The conversion of tuple into list  is as follows [12, 15, 3, 2, 6, 1, 2, 3, 16, 2, 5565, 2, 45]

In [269]:
#Ques 8
list_8=[12,15,3,2,6,1,2,3,16,2]
tuples_8=tuple(list_8)
print("The conversion of list into tuple  is as follows",tuples_8)

The conversion of list into tuple  is as follows (12, 15, 3, 2, 6, 1, 2, 3, 16, 2)

In [271]:
#Ques 9
tuple9=(100,200,300,400)
vari1,vari2,vari3,vari4=tuple9
print("variable1 = ",vari1,"\n"
    "variable2 = " ,vari2,"\n"
    "variable3 = " ,vari3,"\n"
    "variable4 = " ,vari4 )

variable1 =  100
variable2 =  200
variable3 =  300
variable4 =  400

In [274]:
#Ques 10
even_lt=[]
even_tuple=()
for lcd in range(1,11):
    if lcd%2==0:
        even_lt.append(lcd)
        even_tuple=tuple(even_lt)
print("Tuple of even number",even_tuple)

Tuple of even number (2, 4, 6, 8, 10)

In [276]:
#Ques 11
odd_lt=[]
odd_tuple=()
for led in range(1,11):
    if led%2!=0:
        odd_lt.append(led)
        odd_tuple=tuple(odd_lt)
print("Tuple of odd number",odd_tuple)

Tuple of odd number (1, 3, 5, 7, 9)

In [278]:
#Ques 12
tuple12=(1,2,3,4,5)
tuple120=(6,7,8,9,10) 
print("Adding two tuples ",tuple12+tuple120)

Adding two tuples  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [280]:
#Ques 13
tuple13=(6,7,8,9,10) 
print(tuple13*3)

(6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10)

In [285]:
#Ques 14
empty_tuple =()
filled_tuple =(1, 2, 3)
print("empty tuple is",len(empty_tuple)==0)
print("empty tuple is",len(filled_tuple)==0)

empty tuple is True
empty tuple is False

In [287]:
#Ques 15
tuple15=((1,2,3,4),(True,False),("hii","hello"))
print("nested tuple =",tuple15)

nested tuple = ((1, 2, 3, 4), (True, False), ('hii', 'hello'))

In [289]:
#Ques 16
tuple16=((1,2,3,4),(True,False),("hii","hello"))
print("accesssing first element in tuple ",tuple16[0])

accesssing first element in tuple  (1, 2, 3, 4)

In [291]:
#Ques 17
tuple17=(100,)
print("single element tuple",tuple17)

single element tuple (100,)

In [300]:
#Ques 18
tuple18=(1,2,3)
tuple180=(3,2,1)
print(
"tuple18==tuple180 is",tuple18== tuple180,"\n"
"tuple18!=tuple180 is",tuple18!=tuple180,"\n"
"tuple18< tuple180 is",tuple18<tuple180,"\n"
"tuple18> tuple180 is",tuple18>tuple180,"\n"
"tuple18<=tuple180 is",tuple18<=tuple180,"\n"
"tuple18>=tuple180 is",tuple18>=tuple180,
)

tuple18==tuple180 is False
tuple18!=tuple180 is True
tuple18< tuple180 is True
tuple18> tuple180 is False
tuple18<=tuple180 is True
tuple18>=tuple180 is False

In [302]:
#Ques 19
tuple19=(True,12,15,3,2,6,1,2,3,16,2,5565,2,45)
del(tuple19)
print(tuple19)

NameError: name 'tuple19' is not defined

In [304]:
#Ques 20
tuple20=(True,12,15,3,2,6,1,2,3,16,2,5565,2,45)
print("slice of tuple",tuple20[1:5])

slice of tuple (12, 15, 3, 2)

In [306]:
#Ques 21
tuple21=(1,2,3,4,5)
print("maximum value in a tuple is ",max(tuple21))

maximum value in a tuple is  5

In [308]:
#Ques 22
tuple22=(1,2,3,4,5)
print("minimum value in a tuple is ",min(tuple22))

minimum value in a tuple is  1

In [310]:
# Ques 23
string_gs="pwskills"
print(tuple(string_gs))

('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [312]:
#Ques 24
char_tuple= ('p', 'w', 's', 'k', 'i','l','l', 's', ' ','!')
str(char_tuple)
print("".join(char_tuple))

pwskills !

In [314]:
#Ques 25
mix_tuple=("hii",1,2,3,"hello",True,5+6j,10,False,"ok")
print(mix_tuple)

('hii', 1, 2, 3, 'hello', True, (5+6j), 10, False, 'ok')

In [316]:
#Ques 26
tuple26   = (1, 2, 3)
tuple260  = (1, 2, 3)
tuple2600 = (4, 5, 6)
print(tuple26 is tuple260)
print(tuple260 is tuple2600)
print(tuple26 is tuple2600)

False
False
False

In [318]:
#Ques 27
tuple27=(10,525,5,565,2,65,39,5.5,8)
print(sorted(tuple27))

[2, 5, 5.5, 8, 10, 39, 65, 525, 565]

In [320]:
#Ques 28
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_str=[]
for iop in tuple_of_integers:
    convert_strings=str(iop)
    tuple_of_str.append(convert_strings)
tuple_of_strings=(tuple(tuple_of_str))
print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [322]:
#Ques 29
tuple__strings = ('10', '20', '30', '40', '50')
tuple__int=[]
for iou in tuple__strings:
    conver_integers=int(iou)
    tuple__int.append(conver_integers)
tuple_integers=(tuple(tuple__int))
print(tuple_integers)

(10, 20, 30, 40, 50)

In [324]:
#Ques 30
tuple30=(1,2,3,4,5)
tuple300=(6,7,8,9,10) 
print("Adding two tuples ",tuple30+tuple300)

Adding two tuples  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [326]:
#Ques 31
nested_tuple = ((1,2,3,4),(True,False),("hii","hello"))
flattern_tuple=sum(nested_tuple,())
print(flattern_tuple)

(1, 2, 3, 4, True, False, 'hii', 'hello')

In [328]:
# Ques 32
pr_tuple=[]
def isPrime(n):
    if(n==1 or n==0):  
        return False
    for i in range(2,n):
        if(n%i==0):
            return False
    return True
n=5
for i in range(1,n+1):
    if(isPrime(i)):
        pr_tuple.append(i)
prime_tuples=(tuple(pr_tuple))
print(prime_tuples)

(2, 3, 5)

In [330]:
# Ques 33
palindrome_tuple = (1, 2, 3, 2, 1)
print("the tuple is palindrome is",palindrome_tuple==palindrome_tuple[::-1])

the tuple is palindrome is True

In [332]:
# Ques 34
square_tuplelist=[]
for we in range(1,6):
    we=we*we
    square_tuplelist.append(we)
square_tuple=tuple(square_tuplelist)
print(square_tuple)

(1, 4, 9, 16, 25)

In [334]:
# Ques 35
evens_tuplelist=[]
evodd_tuple=(1,2,3,4,5,6,7,8,9,10)
for iv in evodd_tuple:
    if iv%2==0:
        del(iv)
    else:
        evens_tuplelist.append(iv)
evens_tuple=tuple(evens_tuplelist)
print(evens_tuple)

(1, 3, 5, 7, 9)

In [336]:
# Ques 36
tuple36=(1,2,3,4,5,6,7,8,9,10)
multiplied_tuplelist=[]
for ic in tuple36:
    ic=ic*2
    multiplied_tuplelist.append(ic)
multi2_tuple=tuple(multiplied_tuplelist)
print(multi2_tuple)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [338]:
# Ques 37
import random
randm_list=[]
for rand_num in range(10):
    rannum=random.randint(1,100)
    randm_list.append(rannum)
random_tuple=tuple(randm_list)
print(random_tuple)

(85, 95, 79, 9, 77, 43, 64, 14, 31, 86)

In [340]:
#Ques 38
t_tuple=(1,2,3,4,5,6,7,8,9,10,11)
print("tuple is sorted is ",t_tuple==tuple(sorted(t_tuple)))

tuple is sorted is  True

In [342]:
# Ques 39
rot_tuple=(1,2,3,4,5,6,7,8,9)
n=2
left_rotated_tuple = rot_tuple[n:] + rot_tuple[:n]
print(left_rotated_tuple)

(3, 4, 5, 6, 7, 8, 9, 1, 2)

In [344]:
# Ques 40
rotating_tuple=(1,2,3,4,5,6,7,8,9)
n_num=2
right_rotated_tuple = rotating_tuple[-n_num:] + rotating_tuple[:-n_num]
print(right_rotated_tuple)

(8, 9, 1, 2, 3, 4, 5, 6, 7)

In [346]:
# Ques 41
fibo_tuple=[]
def fibo(nuum):
  if nuum == 0 or nuum == 1:
    return nuum
  else:
    return fibo(nuum-1) + fibo(nuum-2)
for op in range(0, 10):
  fibo_tuple.append(fibo(op))
print(tuple(fibo_tuple))

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

In [352]:
# Ques 42
i_tuple=((input("enter elements seperated by commas")))
i_tuple.split(",")
converted_tuple=tuple(i_tuple)
print((converted_tuple))

enter elements seperated by commas hello

('h', 'e', 'l', 'l', 'o')

In [354]:
# Ques 43
yu_tuple=(1,2,3,4,5)
yu_list=list(yu_tuple)
yu_list[1],yu_list[2]=yu_list[2],yu_list[1]
yu_tuple=(tuple(yu_list))
print(yu_tuple)

(1, 3, 2, 4, 5)

In [356]:
# Ques 44
rever_tuple=(True,1,2,3,4,5,"pwskills")
print("reversed tuple",rever_tuple[::-1])

reversed tuple ('pwskills', 5, 4, 3, 2, 1, True)

In [358]:
# Ques 45
numbr=10
numbr_list=[]
for i in range(numbr):
    i=2**i
    numbr_list.append(i)
numbr_tuple=(tuple(numbr_list))
print(numbr_tuple)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [360]:
# Ques 46
long_string=("pwskills","Important","data","science")
print("longest string in the tuple =",max(long_string,key=len))

longest string in the tuple = Important

In [362]:
# Ques 47
short_string=("pwskills","Important","data","science")
print("longest string in the tuple =",min(short_string,key=len))

longest string in the tuple = data

In [364]:
# Ques 48
trian_num=[]
for n in range(1,10):
    i=(n * (n + 1) // 2)
    trian_num.append(i)
print("triangular numbers in tuple =",tuple(trian_num))

triangular numbers in tuple = (1, 3, 6, 10, 15, 21, 28, 36, 45)

In [366]:
# Ques 49
def is_sublist(A, B):
    if not A:
        return True
    if not B:
        return False
    if A[0] == B[0]:
        return is_sublist(A[1:], B[1:])
    return is_sublist(A, B[1:])
A = (1, 2)
B = (1, 2, 3, 1, 1, 2, 2)
rest = is_sublist(A, B)
print(rest)

True

In [367]:
# Ques50
nor=10
alternate_list=[]
for nb in range(nor):
    nb=nb%2
    alternate_list.append(nb)
print("Tuple of alternating 1s and 0s",tuple(alternate_list))

Tuple of alternating 1s and 0s (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# # Topic 4 : set based assignment problem

In [369]:
# Ques 01
print(set(range(1,6)))

{1, 2, 3, 4, 5}

In [371]:
# Ques 02
set2={1,2,3,4,5}
set2.add(6)
print(set2)

{1, 2, 3, 4, 5, 6}

In [373]:
# Ques 03
set3={1,2,3,4,5}
set3.remove(2)
print(set3)

{1, 3, 4, 5}

In [375]:
# Ques 04
set4={1,2,3,4,5}
print("number 2 is exists i n a set is",2 in set4)

number 2 is exists i n a set is True

In [377]:
# Ques 5
set5={1,2,3,4,5}
count_lengh={}
for count_lengh in set5:
    count_lengh=count_lengh + 1
print(count_lengh)

6

In [379]:
# Ques 6
set6={1,2,3,4,5}
set6.clear()
print(set6)

set()

In [381]:
# Ques 7
even_set=set()
for lk in range(1,11):
    if lk%2==0:
        even_set.add(lk)
print(even_set)

{2, 4, 6, 8, 10}

In [383]:
# Ques 8
odd_set=set()
for lkk in range(1,11):
    if lkk%2!=0:
        odd_set.add(lkk)
print(odd_set)

{1, 3, 5, 7, 9}

In [386]:
# Ques 9
set9 = {1, 2, 3, 4, 5}
set90 = {4, 5, 6, 7, 8}
union_set=set9.union (set90)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [388]:
# Ques 10
set10 = {1, 2, 3, 4, 5}
set100 = {4, 5, 6, 7, 8}
intersection_set=set10.intersection (set100)
print(intersection_set)

{4, 5}

In [390]:
# Ques 11
set11 = {1, 2, 3, 4, 5}
set110 = {4, 5, 6, 7, 8}
difference_set=set11.difference(set110)
print(difference_set)

{1, 2, 3}

In [392]:
# Ques 12
set12 = {4, 5}
set120 = {4, 5, 6, 7, 8}
print("First set is subset of second set is",set12.issubset(set120))

First set is subset of second set is True

In [394]:
#Ques 13
set13 = {4, 5, 6, 7, 8}
set130 = {4, 5}
print("First set is superset of second set is",set13.issuperset(set130))

First set is superset of second set is True

In [396]:
# Ques 14
setlist14=[1,2,3,4]
set14=set(setlist14)
print("converted set",set14)

converted set {1, 2, 3, 4}

In [398]:
# Ques 15
setlist15={1,2,3,4}
list15=list(setlist15)
print("converted set",list15)

converted set [1, 2, 3, 4]

In [401]:
# Ques 16
import random
randm_set={1,2,3,4,5,6,7,8,9}
random_element = random.choice(list(randm_set))
randm_set.remove(random_element)
print(random_element)

5

In [403]:
# Ques 17
set17={1,2,3,4,5,6,7,8,9}
set17.pop()
print(set17)

{2, 3, 4, 5, 6, 7, 8, 9}

In [405]:

# Ques 18
set18 = {1, 2, 3, 4}
set180 = {4,3,7, 8}
common_elements = set18.intersection(set180)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {3, 4}

In [406]:
# Ques 19
set19 = {1, 2, 3, 4, 5}
set190 = {4, 5, 6, 7, 8}
symmetric_difference=set19^set190
print("symmetric difference",symmetric_difference)

symmetric difference {1, 2, 3, 6, 7, 8}

In [408]:
# Ques 20
set20 = {1, 2, 3, 4, 5}
set200 = {4, 5, 6, 7, 8}
set20.update(set200)
print(set20)

{1, 2, 3, 4, 5, 6, 7, 8}

In [410]:
# Ques 21
def is_prime(numer):
    if numer <= 1:
        return False
    for i in range(2, int(numer ** 0.5) + 1):
        if numer % i == 0:
            return False
    return True
prime_set = set()
numer = 2
while len(prime_set) < 5:
    if is_prime(numer):
        prime_set.add(numer)
    numer += 1
print("Set of first 5 prime numbers:", prime_set)

Set of first 5 prime numbers: {2, 3, 5, 7, 11}

In [412]:
# Ques 22
set22={1, 2, 3, 4, 5}
set220={3,1,5,2,4}
if set22==set220:
    print("sets are identical")
else:
    print("sets are not identical")

sets are identical

In [414]:
# Ques 23
set_list23=[1,2,3,44,56]
frozen_set=frozenset(set_list23)
print("frozen set",frozen_set)

frozen set frozenset({1, 2, 3, 44, 56})

In [416]:
# Ques 24
set23 = {1, 2, 3, 4}
set230= {5, 6, 7, 8}
print("set is disjoint with another set is",set23.isdisjoint(set230))

set is disjoint with another set is True

In [418]:
# Ques 25
square_set=set()
for sq_set in range(1,6):
    sq_set=sq_set**2
    square_set.add(sq_set)
print(square_set)

{1, 4, 9, 16, 25}

In [420]:
# Ques 26
set26 = {1, 2, 3, 4, 5, 6}
filter_even=set()
for filt_even in set26:
    if filt_even%2==0:
        filter_even.add(filt_even)
print(filter_even)

{2, 4, 6}

In [422]:
# Ques 27
set27 = {1, 2, 3, 4, 5, 6}
multi2set=set()
for  itera in set27:
    itera=itera*2
    multi2set.add(itera)
print(multi2set)

{2, 4, 6, 8, 10, 12}

In [424]:

# Ques 28
import random
random_set=set()
for rand_num in range(10):
    rannum=random.randint(1,100)
    random_set.add(rannum)
print(random_set)

{32, 2, 3, 100, 73, 14, 81, 50, 52}

In [426]:
# Ques 29
set29=set()
if not set29:
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [428]:
# Ques 30
set30= {1, 2, 3, 4, 5}
frozen_set30 = frozenset(set30)
nested_set = {frozen_set30}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5})}

In [430]:

# Ques 31
set31= {1, 2, 3, 4, 5}
set30.discard(4)
print(set30)

{1, 2, 3, 5}

In [432]:
# Ques 32
set32 = {1, 2, 3, 4, 5}
set320= {4, 5, 6, 7, 8}
is_subset = set32.issubset(set320)
is_superset = set32.issuperset(set320)
intersection = set30.intersection(set320)
union = set32.union(set320)
difference1 = set32.difference(set320)
difference2 = set32.difference(set320)

print("Set 32:", set32)
print("Set 320:", set320)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set32 but not in set32:", difference1)
print("Elements in set320but not in set320:", difference2)

Set 32: {1, 2, 3, 4, 5}
Set 320: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set32 but not in set32: {1, 2, 3}
Elements in set320but not in set320: {1, 2, 3}

In [434]:
# Ques 33
set_string="important"
set_string=set(set_string)
print(set_string)

{'r', 'o', 'a', 'p', 'n', 'm', 'i', 't'}

In [436]:
# Ques 34
set_string34 = {"123", "456", "789"}
set34=set()
for conrt in set_string34:
    conrt=int(conrt)
    set34.add(conrt)
print(set34)

{456, 123, 789}

In [438]:
# Ques 35
set_string35 = {123,4646,6647}
set35=set()
for convrt in set_string35:
    convrt=str(convrt)
    set35.add(convrt)
print(set35)

{'6647', '4646', '123'}

In [467]:
# Ques 36
settuple36=(1,2,3,45,6)
print(settuple36)

(1, 2, 3, 45, 6)

In [466]:
# Ques 37
settuple37={1,2,3,4,5}
print(tuple(settuple37))

(1, 2, 3, 4, 5)

In [440]:
# Ques 38
set38={1,2,3,4,5,6,7,8}
print("maximum value in a set is",max(set38))

maximum value in a set is 8

In [441]:
# Ques 39
set39={1,2,3,4,5,6,7,8}
print("minimum value in a set is",min(set39))

minimum value in a set is 1

In [446]:
# Ques 40
set40=input("enter the elements ")
set400=set()
x=("".join(set40))
set400.add(x)
print(set400)

enter the elements  hii,hello,bonjur

{'hii,hello,bonjur'}

In [448]:
# Ques 41
set41 = {1, 2, 3, 4, 5}
set410= {4, 5, 6, 7, 8}
intersect = set41.intersection(set410)
if not intersect:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [450]:
# Ques 42
fibonacci_set = set()
ab, bc = 0, 1
for _ in range(6):
    fibonacci_set.add(ab)
    ab, bc = bc, ab + bc
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [452]:
# Ques 43
listset42=[1,2,3,2,1,5,6,5,2,4,3,1,2]
listset42=set(listset42)
listset42=list(listset42)
print(listset42)

[1, 2, 3, 4, 5, 6]

In [454]:
# Ques 44
set44 = {1, 2, 3, 2, 1}
set440 = {3, 1, 2}
same_elements = set44.intersection(set440)
if not same_elements:
    print("sets does not have same element")
else:
    print("sets have same element")

sets have same element

In [456]:
# Ques 45
n_number=4
power2_set=set()
for power_2 in range(n_number+1):
    power_2=2**power_2
    power2_set.add(power_2)
print(power2_set )

{1, 2, 4, 8, 16}

In [458]:
# Ques 46
set46=  {3, 7, 9, 12, 15}
setlist46 = [7, 12, 5, 9]
set460=set(setlist46)
same_ments = set46.intersection(set460)
if not same_ments:
    print("sets does not have same element")
else:
    print("sets have same element",same_ments)

sets have same element {9, 12, 7}

In [460]:
# Ques 47
triangular_numberss=set()
n_thvalue=5
for n in range(1,n_thvalue+1):
    iota=(n * (n + 1) // 2)
    triangular_numberss.add(iota)
print("triangular numbers in set =",(triangular_numberss ))

triangular numbers in set = {1, 3, 6, 10, 15}

In [462]:
# Ques 48
set48 = {1, 2, 3, 4, 5}
set480 = {3, 4}
print("set480 is a subset of set48 is",set480.issubset(set48))

set480 is a subset of set48 is True

In [464]:
# Ques 49
length_nvalue=10
alternate_set=set()
for nubb in range(1,11):
    nubb=nubb%2
    alternate_set.add(nubb)
print(alternate_set)

{0, 1}

In [465]:
# Ques 50
set50={1,2,3,4}
set51={3,4,5,6}
set52={5,6,7,8}
complete_merge=set50.union(set51,set52)
print(complete_merge)

{1, 2, 3, 4, 5, 6, 7, 8}